@charset "utf-8";

html, body {
    width           : 100%;
    height          : 100%;
    overflow        : hidden;
    padding         : 0;
    margin          : 0;
    background-color: #404040;
    color           : #F0F0F0;
}

#title {
    display         : none;
    width           : 480px;
    height          : 480px;
    position        : absolute;
    top             : 50%;
    left            : 50%;
    margin-top      : -240px;
    margin-left     : -240px;
    z-index         : 100;
    background-color: #404040;
    color           : #F0F0F0;
    text-align      : center;
    font-size       : 10pt;
    font-family     : monospace;
    border-radius   : 20px;
    box-shadow      : 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    overflow        : hidden;
}

#title a {
    color: #F0F0F0;
}

#title header {
    position: absolute;
    width   : 480px;
    height  : 120px;
    top     : 0px;
}

#title header h1 {
    margin : 0px;
    padding: 0px;
}

#title header .logo-image {
    image-rendering       : pixelated;
    image-rendering       : -moz-crisp-edges;
    image-rendering       : -webkit-crisp-edges;
    image-rendering       : crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

#title footer {
    position : absolute;
    width    : 480px;
    height   : 40px;
    bottom   : 0px;
}

#title footer p {
    margin     : 0px;
    padding    : 0px;
    line-height: 40px;
}

#config-form {
    margin-top: 120px;
    padding   : 0px 8px;
    width     : 464px;
    height    : 320px;
}

#config-form fieldset {
    margin-top   : 16px;
    margin-bottom: 16px;
    border       : 1px solid #808080;
}

#config-form .number {
    width           : 64px;
    text-align      : right;
    border          : 1px solid #808080;
    background-color: #404040;
    color           : #F0F0F0;
    font-family     : monospace;
    font-size       : 10pt;
}

#config-form .number:hover {
    background-color: #808080;
}

#config-form .button {
    border          : 1px solid #808080;
    background-color: #404040;
    color           : #F0F0F0;
    font-family     : monospace;
    font-size       : 10pt;
}

#config-form .button:hover {
    background-color: #808080;
}

#game-wrapper {
    display               : none;
    position              : absolute;
    z-index               : 0;
    border                : 1px solid #F0F0F0;
    overflow              : hidden;
    image-rendering       : pixelated;
    image-rendering       : -moz-crisp-edges;
    image-rendering       : -webkit-crisp-edges;
    image-rendering       : crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    cursor                : none;
}

.game-canvas {
    position: absolute;
}

#game-left-view {
    display         : none;
    position        : absolute;
    top             : 0px;
    left            : 0px;
    z-index         : 1;
    background-color: #404040;
    box-shadow      : 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    padding         : 8px;
    border-radius   : 0px 0px 8px 0px;
    opacity         : 1;
    font-size       : 8pt;
    font-family     : monospace;
}

#game-right-view {
    display         : none;
    position        : absolute;
    top             : 0px;
    right           : 0px;
    z-index         : 2;
    background-color: #404040;
    box-shadow      : 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    padding         : 8px;
    border-radius   : 0px 0px 0px 8px;
    opacity         : 1;
    font-size       : 8pt;
    font-family     : monospace;
}

#game-paused-view {
    display         : none;
    width           : 480px;
    height          : 120px;
    position        : absolute;
    top             : 50%;
    left            : 50%;
    margin-top      : -60px;
    margin-left     : -240px;
    z-index         : 10;
    background-color: #404040;
    color           : #F0F0F0;
    text-align      : center;
    font-size       : 10pt;
    font-family     : monospace;
    border-radius   : 20px;
    box-shadow      : 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    overflow        : hidden;
}

#game-paused-view p {
    margin     : 0px;
    padding    : 0px;
    line-height: 60px;
}
